*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
__pycache__

# vim files
*.swp

# Unit test / coverage reports
.coverage
.tox
nosetests.xml


# PyCharm
.idea

#vscode
.vscode

.venv/
.DS_Store
__pycache__/


.vscode/
*.txt
*.csv


